.container {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 1%;
  }
  
  .container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  
  .form-group {
    margin: 0%;
    padding: 0%;
    width: 80%;
  }
  
  .input-field {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .input-field:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .submit-button {
    margin: 0%;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-left: 40%;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .message.success {
    color: green;
  }
  
  .message.error {
    color: red;
  }
  
  .switch-mode {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .switch-mode button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
  }

  .switch-mode button:hover {
    background: none;
    border: none;
    color: inherit; /* Matches the text color of the parent or default color */
    text-decoration: none;
    box-shadow: none; /* Ensures no shadow effect */
    transition: none; /* Disables hover animations */
  }
  
  .student-login-button {
    margin: 0%;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(45, 113, 239);
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .student-login-button:hover {
    background-color:rgb(0, 74, 211);
    border-color: #4caf50;
  }