.container {
    width: 100%;
    max-width: 100%;
    margin: 50px 0px;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .home-button {
    background-color: #28a745;
  }
  
  .home-button:hover {
    background-color: #218838;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .chart, .statistics {
    margin-top: 30px;
    text-align: left;
  }
  